* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --wall-color: #d8d7cf;
    --dark-brown-color: #36261c;
    
    /* Colors in Logo */
    --brown-color: #6b4d36;
    --blue-color: #A6B9C4;
    --green-color: #069700;
    --light-brown-color: #e4c4b0;
    --graph-border-radius: 10px;
    --graph-border-color: rgb(195, 194, 194);
}
/* Layout based off of TOP example, but what if I want something different? */
/* Layout: Memrise
Language Selection: Rocket Languages */
body {
    display: grid;
    grid-template-areas: 
    "dash head head head"
    "dash main main main"
    "dash main main main"
    ;

    min-height: 100vh;
}


/* Dashboard */

.dashboard {
    grid-area: dash;
    background-color: rgba(181, 144, 69, 0.809);
    width: 20vw;
    min-height: 100%;

    display: grid;
    grid-template-rows: 10vh 42vh 30vh;
    color: white;
}

.dashtitle {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.dashtitle img {
    width: 20%;
}

.dashtitle p {
    width: 70%;
    font-size: 2.2rem;
    
}

.upperoptions {
    margin-top: 1rem;
    display: grid;
}

.loweroptions {
    margin-top: 2rem;
    display: grid;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.item img {
    margin-left: 1rem;
    width: 15%;
    
}

.item p {
    font-size: 1.4rem;
    margin-left: 10px;

    text-shadow: 1px 1px black;
}

.item p:hover {
    border-bottom: 2px solid white;
    
    -webkit-transition: 0.5s;
    transition: 0.1s;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

a {
    text-decoration: none;
    color: white;
}


/* Header */

.header {
    grid-area: head;
    width: 80vw;
    min-height: 20vh;
    background-color: white;
}

/* MainView */

.mainview {
    grid-area: main;
    width: 80vw;
    min-height: 80vh;
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    grid-template-rows: 50% 50%;
}

/* Overview */

.overview {
    display: flex;
    flex-direction: column;
    grid-template-rows: 200px 362px;
}

.statheader {
    margin: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* ^^^ Change to more responsive setting */
    gap: 1.5rem;
}

.infocard {
    border-radius: 5px;
    border: 2px solid rgb(167, 167, 167);
    height: 8rem;
    background-color: white;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.infocard p {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.statgraph {
    margin: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-self: center;
    border: 1px solid var(--graph-border-color);
}

.graph {
    background-color: white;
    border: 1px solid var(--graph-border-color);
    border-top-left-radius: var(--graph-border-radius);
    border-bottom-left-radius: var(--graph-border-radius);
}

.graphsidebar {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.graphinfocard {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--graph-border-color);
}

.graphinfocard:nth-child(1) {
    border-top-right-radius: var(--graph-border-radius);
}

.graphinfocard:nth-child(3) {
    border-bottom-right-radius: var(--graph-border-radius);
}

.graphinfocard p {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
}

.graphinfocard p:nth-child(1) {
    color: grey;
    font-size: 1.4rem;
}

.graphinfocard p:nth-child(2) {
    color: black;
    font-size: 1.8rem;
}
/* Lessons Section */

.lessons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* make this more responsive */
}

.card{
    margin: 30px;
    width: 270px;
    height: 429px;
    background-color: white;
    border-radius: 5px;
}

/* internal skeleton of card */

.card-container {
    align-self: center;
    justify-self: center;
    margin: 10px;
    height: 94%;
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
}

.cardpic {
    height: 60%;
    width: 100%;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cardtitle {
height: 25%;
width: 100%;
}

.cardtitle h3 {
    padding: 10px;
    font-size: 30px;
}


.carddetails {

    height: 10%;
    width: 100%;
    background-color: red;
    display: grid;
}

/* card bottom left */

.detailleft {
    border-top: 1px solid rgb(214, 214, 214);
    border-right: 1px solid rgb(214, 214, 214);;
    border-bottom-left-radius: 4px;
    height: 15%;
    width: 35%;
    display: flex;
    justify-content: center;
}

.accountlogo {
    width: 20px;
    display: border;
    margin: 2px;
}

.usercount {
    width: 60%;
    font-size: 14px;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

/* card bottom right  */

.detailright {
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom-right-radius: 4px;
    height: 15%;
    width: 65%;

    display: flex;
    justify-content: center;
}

.clocklogo {
    width: 20px;
    display: border;
    margin: 2px;
}

.timecount {
    
    width: 43%;
    font-size: 14px;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

